* {
  font-family: "Montserrat";
}

html,
body {
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 600;
  font-size: 48px;
}

html {
  background-color: F2F2F2;
}

a {
  text-decoration: none;
  color: #b6b09f;
  font-size: 24px;
  padding: 5px;
}

h1 {
  color: #b6b09f;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 128px;
  background-color: #000000;
}
